{% extends 'blog/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <br>
            <a href="{% url 'create_post' %}" class="btn btn-outline-success">New Post</a>
            <br><br>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Published on</th>
                <th scope="col">Title</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}    
            <tr>
                <th>{{ post.pk }}</th>
                <td>{{ post.published_date }}</td>
                <td><h4><a href="{% url 'show_post' pk=post.pk %}">{{ post.title }}</a></h4></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}